.agreement {
	max-height: 75vh;
	margin-bottom: 1rem;
	padding-bottom: 1rem;

	.agreement-container {
		padding: 3rem;
		border-radius: 10px;
		max-height: 80vh;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 4px;
			background: #d9d8d8;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #39364f;
			border-radius: 2px;
		}
	}

	.agreement-heading {
		font-weight: bold;
		font-size: 1.6rem;
		color: #000000;
	}

	.stepper-container {
		margin-top: 2rem;

		Button {
			width: 10rem;
		}

		.nextButton {
			span {
				font-weight: bold;
			}
		}
	}
}

.step3Upload {
	border: 1px dashed #cdcccb;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	border-radius: 2px;

	&:hover {
		cursor: pointer;
	}
}
