.filterActionContainer {
  width: 15rem;
  border-radius: 8px;

  .filterActionHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .actionItem {
    font-size: 0.8rem;

    &:hover {
      cursor: default;
    }
  }
}