.paragrap {
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
}
.button {
  border-radius: 14px;
  width: 7rem;
  display: block;
  margin: auto;
  border: 1px solid #afafaf;
  background-color: #ffffff;
}
.close {
  margin-top: 30px;
  font-size: 1rem !important;
}
