.basic_preview {
  .basic_preview_question_parent {
    margin: 1rem 0rem !important;
  }
  .basic_preview_question_child {
    margin: 0.8rem 0rem 0.2rem 0rem !important;
  }
  .location_data {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #3A8D9D;
    text-decoration: underline;
  }
}